body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fdf5e6; /* Light peach background */
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgba(44, 45, 28, 0.88); /* White container background */
    align-items: center;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(188, 113, 0, 1); /* Shadow effect */
}

.title {
    text-align: center;
    color: rgba(18, 12, 60, 1); /* Orange title color */
    font-size: 64px;
    margin-top: 20px;
; /* Space between title and form */
}

.form {
    margin-top: 20px;
}

.label {
    font-size: 18px;
    margin: 5px;
    color: rgba(18, 12, 60, 1); /* Orange label color */
}

.input-group {
    margin-bottom: 20px; /* Space between input groups */
}

.input-field#username {
    width: 100%;
    padding: 10px;
    background: rgba(217, 217, 217, 1);
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.input-field#password {
    width: 100%;
    padding: 10px;
    background: rgba(217, 217, 217, 1);
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.input-field#confirm-password {
    width: 100%;
    padding: 10px;
    background: rgba(217, 217, 217, 1);
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.button {
    width: 100%;
    padding: 12px;
    background-color: rgba(217, 217, 217, 1); /* Orange button background */
    color: rgba(18, 12, 60, 1); /* White button text color */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

.button:hover {
    background-color: #e65100; /* Darker orange on hover */
}

.profile-image-login {
    width: 150px; /* Adjust size of the container */
    height: 150px; /* Adjust size of the container */
    border-radius: 50%; /* Make the container round */
    overflow: hidden; /* Hide overflowing parts of the image */
    margin-bottom: 20px; /* Add space between the image and other form elements */
}
.profile-image-login img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio of the image */
    display: block; /* Prevent extra space below the image */
}





